%h1 Robots

- @robots.each do |robot|
  %ul
    %li
      %a{ href: robot.id } #{robot.id}
    %li
      %img{ src: robot.avatar, width: "60px" }
    %li= robot.name
    %a{ href: "/robots/#{robot.id}/edit"} edit
