%html
  %head
    %link{ rel: "stylesheet", href: "/css/normalize.css" }
    %link{rel: "stylesheet", href: "https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }

  %body
    %a{href: "/robots"}Robot Directory
    %a{href: "/robots/new"}New Robot

    = yield

    %script{ src: "https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js" }
